<div class="row mt-5">
    <div class="col-md-6">
        <h2>Listes des addreses
        </h2>
    </div>
    <div class="col-md-6 text-right">
        <button class="btn btn-primary ">new </button>
    </div>
</div>
<div class="row mt-5" *ngIf="addresses">
    <div *ngFor="let a of addresses" class="col-md-6">
        <div class="card border-primary mb-3">
            <div class="card-header">
                <h4><strong>Type:</strong>{{a.type}}</h4>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>City:</strong>{{a.city}}</li>
                    <li class="list-group-item"><strong>Country:</strong>{{a.country}}</li>
                    <li class="list-group-item"><strong>Street:</strong>{{a.street}}</li>
                    <li class="list-group-item"><strong>Postal:</strong>{{a.postal}}</li>
                    <li class="list-group-item text-center">
                        <button class="btn btn-danger mr-2">delete</button>
                        <button class="btn btn-warning mr-2">edit</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>